@model IEnumerable<Tank_Forums.Models.ForumPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.className)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postBody)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.classIcon)*@
                    @Html.DisplayFor(modelItem => item.authorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postLikes)
                    @Html.DisplayFor(modelItem => item.postDislikes)
                </td>
            </tr>
        }
    </tbody>
</table>
