@model IEnumerable<Tank_Forums.Models.ForumPost>

@{
    ViewData["Title"] = "Index";
}



@if (Model.Any())
{
    <h1>Welcome to Tanks Place!</h1>
    <p>
        <a asp-action="Create">Create Post</a>
    </p>


    @foreach (var item in Model)
    {
        <div class="row justify-content-center">
        <table class="table table-borderless table-responsive">
            <tbody>
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.classIcon)*@
                        <span>
                            Posted by
                            @Html.DisplayFor(modelItem => item.authorName)
                            at
                            @Html.DisplayFor(modelItem => item.postDate)
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.postTitle)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.postBody)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.postLikes)
                        @Html.DisplayFor(modelItem => item.postDislikes)
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    }
}
else
{
    <div class="noPosts">
        <h3>
            There are no posts yet. <br/>
            Why not
            <a asp-action="Create">
                <span>create</span>
            </a>
            one?
        </h3>
    </div>
}


