@model IEnumerable<Tank_Forums.Models.ForumPost>

@{
    ViewData["Title"] = "Index";
}



@if (Model.Any())
{
    <h1>Welcome to Tanks Place!</h1>
    <p>
        <a asp-action="Create">Create Post</a>
    </p>


    @foreach (var item in Model)
    {
        <div class="row justify-content-center">
        <table class="table table-borderless table-responsive">
            <tbody>
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.classIcon)*@
                        <span>
                            Posted by
                            @Html.DisplayFor(modelItem => item.authorName)
                            at
                            @Html.DisplayFor(modelItem => item.postDate)
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                            <span style="font-size:15pt">@Html.DisplayFor(modelItem => item.postTitle)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.postBody)
                    </td>
                </tr>
                <tr>
                    <td>

                            @{
                                var upvoteImgUrl = "~/Images/upvoteIconEmpty.png";
                                if (item.postVotes.Any(p => p.userName == User.Identity.Name))
                                {
                                    if (item.postVotes.FirstOrDefault(p => p.userName == User.Identity.Name).voteStyle == "upvoteFull")
                                    {
                                        upvoteImgUrl = "~/Images/upvoteIconFull.png";
                                    }
                                }
                            }
                            <button class="postVoteButton" name="upvoteButton" id="upvoteButton @item.PostId" type="submit" value="upvoteEmpty" onclick="ClickVoteButton(@item.PostId, this, voteCountText@(item.PostId))"
                                    style="background-image:url(@Url.Content(upvoteImgUrl))">
                            </button>


                            @{
                                var postLikeSum = item.postLikes - item.postDislikes;
                                <span id='voteCountText@(item.PostId)'>
                                    @Html.DisplayFor(modelItem => postLikeSum)
                                </span>
                            }


                            @{
                                var downvoteImgUrl = "~/Images/downvoteIconEmpty.png";
                                if (item.postVotes.Any(p => p.userName == User.Identity.Name))
                                {
                                    if (item.postVotes.FirstOrDefault(p => p.userName == User.Identity.Name).voteStyle == "downvoteFull")
                                    {
                                        downvoteImgUrl = "~/Images/downvoteIconFull.png";
                                    }
                                }
                            }
                            <button class="postVoteButton" name="downvoteButton" id="downvoteButton @item.PostId" type="submit" value="downvoteEmpty" onclick="ClickVoteButton(@item.PostId, this, voteCountText@(item.PostId))"
                                    style="background-image:url(@Url.Content(downvoteImgUrl))"
                                    onload="SetVoteButtonOnLoad(@item.PostId, this, 'downvote')">
                            </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    }
}
else
{
    <div class="noPosts">
        <h3>
            There are no posts yet. <br/>
            Why not
            <a asp-action="Create">
                <span>create</span>
            </a>
            one?
        </h3>
    </div>
}


